@import "bootstrap";

.header {
  color: white;
  margin: auto;
}

.form-body {
  height: 88vh;
  background-color: antiquewhite;
}

.form-header {
  width: 13vw;
  font-weight: bold;
  margin: 1rem auto;
}
